#linter_button {
	position: fixed;	
	top: 30px;
	right: 70px;
	width: 200px;	
	height: 200px;
	font-size: 2em;
	font-weight: bold;
	background: #fff url("/style/images/lifebuoy.png");
	border: 0;
	outline: none;
}
